@font-face {
  font-family: Rubik;
  src: url("assets/fonts/Rubik-Regular.ttf");
}

@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Rubik";
  src: url("assets/fonts/Rubik-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Quicksand";
  src: url("assets/fonts/Quicksand-Bold.ttf");
  font-weight: 700;
}

:root {
  --main-color: #f9cb80;
  --white-color: #fff;
  --text-color: #2a2c2e;
  --title-color: #6a6b6d;
  --border-color: rgba(231, 212, 183, 0.3);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  margin: 0;
  font-family: "Rubik";
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section-list li {
  position: relative;
  padding-left: 10px;
}

.section-list li:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  width: 6px;
  height: 6px;
  background-size: 6px 6px;
  background-image: url("assets/svg/list.svg");
  background-repeat: no-repeat;
}

ul li span,
p span {
  font-weight: 700;
}

a {
  color: var(--text-color);
  text-decoration: none;
  transition: all .5s;
}

.header a:hover,
.main a:hover,
.footer-github:hover span {
  opacity: 0.5;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.main-container {
  margin: 30px auto;
}

.header,
.footer {
  background: var(--main-color);
}

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.nav-link {
  padding: 0 20px;
  line-height: 50px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 50%;
  padding: 20px;
}

.section-profile {
  text-align: center;
}

.profile-title {
  margin: 0;
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: var(--text-color);
}

.profile-subtitle {
  margin: 0;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: var(--title-color);
}

.profile-photo img {
  max-width: 200px;
  border-radius: 50%;
  box-shadow: 2px 2px 4px var(--text-color);
}

.section-title {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border-bottom: 3px solid var(--border-color);
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.footer-copyright {
  display: flex;
  gap: 15px;
}

.footer-github {
  display: flex;
  gap: 5px;
}

.footer-rs {
  width: 100px;
  line-height: 0;
}

.contacts-item {
  position: relative;
  padding-left: 25px;
}

.contacts-item:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.contacts-item.email:before {
  background-image: url("assets/svg/mail.svg");
}

.contacts-item.phone:before {
  background-image: url("assets/svg/phone.svg");
}

.contacts-item.discord:before {
  background-image: url("assets/svg/discord.svg");
}

.contacts-item.linkedin:before {
  background-image: url("assets/svg/linkedin.svg");
}

.contacts-item.github:before {
  background-image: url("assets/svg/github.svg");
}

@media (max-width: 768px) {
  .section {
    width: 100%;
    padding: 10px 20px;
  }

  .nav-link {
    line-height: 30px;
  }
}
